.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.borderless.centermenu.menu {
  box-shadow: none;
  border: none;
}

.ui.three.column.grid.container {
  padding-top: 1em;
  padding-bottom: 1em;
}

